* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 3.8em;
    text-align: center;
    font-weight: bolder;
}

button {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
    height: 60px;
    font-size: 50px;


}

.main {
    background-color: rgb(245, 215, 245);
    margin: 20px;
}

.container-state {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 2.5em;
    justify-content: flex-start;
    margin-left: 50px;
}

.hidden {
    display: none;
}

.questions, .js-answer, .answers {
    font-size: 3em;
}

.js-questions {
    font-size: 3em;
    margin: 50px;
}

label {
    font-size: 1em;
}

.big{ width: 0.28em; height: 0.28em; }

input {
    font-size: 2em;
}

.main-picture {
    height: 350px;
    width: 300px;
    border-radius: 10%;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;