* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-picture {
    width: 150px;
    height: 200px;
}

.hidden {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    flex-direction: row;
}

img (
    margin-left: auto;
    margin-right: auto;
)