* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 202, 247);
    
}

body {
    border: 3px solid rgb(71, 27, 71);
    margin: 10px;
    height: 100%;
    padding: 10px;
}



img {
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.hidden {
    display: none;
}

header {
    display: flex;
    flex-direction: column;

}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.container-state {
    font-size: 2em;
    margin: 50px;
    font-weight: bold;
}

button {
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    margin: auto;
}

.main, input, .js-answer {
    font-size: 2em;
    size: 30px;

}

@media screen and (min-width: 550px) {
    
    img {
        width: 150px;
        height: 200px;
    }
    h1 {
        font-size: 3em;
    }
    .container-state {
        font-size: 2em;
    }
    .main, .js-answer {
        font-size: 1.5em;
    }
    button {
        font-size: 2em;
    }

}









